# Default target for watcher notifications
BEEKEEPER_WATCHERS="@your-username,#devops-alerts-test"

# Whether to run RSpec tests that require Docker Swarm
RSPEC_DOCKER=yes

# Self-explanatory. Needed to send notifications.
SLACK_API_TOKEN="Get this from a Slack administrator"
